
* {
  margin: 0px;
  padding: px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: none;
  
}

nav {
  color: white;
  /*display: -ms-grid;
  display: grid;*/
  /*-ms-grid-columns: 30% 60%;
      grid-template-columns: 30% 60%;
  -webkit-column-gap: 10%;
          column-gap: 10%;*/
  padding: 3% 4%;
  box-shadow: 5px 10px;
  background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
}

section .array-inputs {
 /* display: -ms-grid;
  display: grid;*/
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  place-content: center;
  padding: 10% 10%;
  /*--new--*/
  width: 200px;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color:transparent;
  border: none;
  /*border-radius: 45px;*/
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
margin-top: 5px;
margin-bottom: 5px
margin: left 5px;
padding: auto;
  position: relative;
 
}

section.array-inputs #a_size {
  padding: 5% 0%;
  color: #000;
}

section.array-inputs #a_speed {
  padding: 5% 0%;
}

section .array-inputs #a_generate {
  /*background-color: transparent;
  outline: none;
  color:#2C3531;
  padding: 2% 2% 2% 2%;
  text-align: center;*/
  width: 230px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 2% 2% 2% 2%;
  
  
}

section .array-inputs #a_generate:hover {
  cursor: pointer;
  background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
  /*background-color: #116466;*/
  color: rgb(153, 255, 187);
  box-shadow: 0px 15px 20px rgba(57, 63, 61, 0.4);
  
  transform: translateY(-7px);
}

nav .header_right {
 /* display: -webkit-box;
  display: -ms-flexbox;*/
  display: ;
  /*-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;*/

}

nav .header_right .nav-heading {
  display: inline-block;
  font-size: xxx-large;
  /*padding: 3% 2%;*/
}

nav .header_right .algos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (16.66667%)[6];
      grid-template-columns: repeat(6, 16.66667%);
  place-content: center;
  padding: 2% 5%;
}


nav .header_right .algos button,a{
 /* background-color: inherit;
  border: none;
  color:#D9B08C;
  outline: none;
  padding: 14px 20px;
  font-size: x-large;
  display: inline-block;
  padding-left:2px;
  text-align: center;
  overflow: hidden;
  margin: 5px;*/
  width: 180px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color:transparent;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

nav .header_right .algos button:hover,.a {
  /*background-color:#2C3531;*/
  cursor: pointer;
  background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
  box-shadow: 0px 15px 20px rgba(80, 85, 83, 0.4);
  color:rgb(153, 255, 187);
  transform: translateY(-7px);

}
nav .header_right .algos a:hover {
  /*background-color:#2C3531;*/
  cursor: pointer;
  background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
  box-shadow: 0px 15px 20px rgba(80, 85, 83, 0.4);
  color:rgb(153, 255, 187);
  transform: translateY(-7px);

}

nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_selected {
  background-color: white;
  color: green;
}

nav .header_right .algos .butt_selected:hover {
  background-color: white;
  cursor: pointer;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: rgb(160, 160, 160);
  cursor: pointer; font-size: var(--font-large);
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
      background-color:white;
}

section .Complexity_Containers {
  margin-top: 5px;
}

section .Complexity_Containers .Pair_Definitions {
  margin-top: 15px;
}

section .Complexity_Containers .Pair_Definitions p {
  display: inline;
}

section .Complexity_Containers .Pair_Definitions p.Sub_Heading {
  font-size: medium;
  text-transform: none;
}

section #Info_Cont1 {
  padding: 10% 10%;
  /*border: 3px solid black;*/
 /* background-color: #FFCB9A;*/
 width: 300px;
 height: 200px;
 font-family: 'Roboto', sans-serif;
 font-size: 11px;
 text-transform: uppercase;
 /*letter-spacing: 2.5px;
 font-weight: 500;*/
 color: #000;
 background-color:transparent;
 border: none;
 /*border-radius: 45px;*/
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
margin-top: 10px;
margin-bottom: 5px
margin: left 5px;
padding: auto;
 position: relative;
}

section #Info_Cont1 h3 {
  text-decoration: underline;
}

section #array_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
 /* padding: 5% 10%;*/
}

section #Info_Cont2 {
 /* padding: 5px 10px;
  position: absolute;
  ;
  */
 /* border: 3px solid black;*/
 left: 1212px;
 bottom: 250px;
 width: 300px;
 height: 200px;
 font-family: 'Roboto', sans-serif;
 font-size: 11px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 font-weight: 500;
 color: #000;
 background-color:transparent;
 border: none;
 /*border-radius: 45px;*/
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 cursor: pointer;
 outline: none;
 margin-top: 10px;
 margin-bottom: 30px;
 padding: 22px;
position: relative;
}

section #Info_Cont2 h3 {
  text-decoration: underline;
}

.hide {
  display: none;
}


@media (max-width: 480px)//Mobiles
{
    
}

@media (min-width: 481px) and (max-width: 1250px)//Tablets
{

}

@media (min-width: 1251px)//Laptops and up
{

}

